<h1 class="title">
  落ち着け………… 心を平静にして考えるんだ…こんな時どうするか……<br />
  　２… ３ ５… ７… 落ち着くんだ…『素数』を数えて落ち着くんだ…<br />
  　『素数』は１と自分の数でしか割ることのできない孤独な数字……<br />
  　わたしに勇気を与えてくれる
</h1>

<div class="count_start">
    <%= button_to '数える', new_jojolion_path, {method: :get}  %>
</div>
