<h1 class='title'>┣"┣"┣"┣"┣"┣"┣"┣"</h1>

<%= render 'jojo' %>

<!--<%= button_to 'もっと数える', new_jojolion_path, {method: :get, remote: true} %>-->
<%= button_to 'もっと数える', new_jojolion_path, {method: :get} %>
<%= button_to '落ち着いたので戻る', jojolions_path, {method: :get} %>
